body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("2.webp");
}
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  box-shadow: 5px 5px 10px red;
}
h2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  box-shadow: 5px 5px 10px red;
  width: 20%;
  margin-left: 65px;
}
::placeholder {
  text-align: center;
}
main {
  color: white;
  border: solid;
  box-shadow: 5px 5px 50px red;
  background-color: black;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  color: white;
  background-color: black;
  border: solid 2px black;
  box-shadow: 4px 4px 4px red;
  margin-bottom: 40px;
  font-size: large;
  text-align: center;
}
select {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 60%;
  color: white;
  background-color: black;
  border: solid 2px black;
  box-shadow: 4px 4px 4px red;
  margin-bottom: 40px;
  font-size: large;
  text-align: center;
}
